.App {
  text-align: center;
}

body{
  background-color: rgb(88, 214, 214);
}

.container {
  background-color: rgb(242, 168, 55);
  justify-content: center;
  width: 50%;
  margin-left: 26%;
  margin-top: 5%;
  text-align: center;
  padding: 20px;
}
.crossed-line {
  text-decoration: line-through;
}

h1{
  color: rgb(226, 10, 10);
}

h2{
  color: aliceblue;
}

/* h3{
  color:rgb(210, 25, 115)
} */






















/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
